.header { grid-area: header; }
.menu { grid-area: menu; }
.display { grid-area: main; }
.info { grid-area: right; }
.footer { grid-area: footer; }

.grid-container {
  position: relative;
  
  width: 1280;
  height: 720;

  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #96C0CE;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

#mapid { 
  width: 80%;
  height: 80%;
  margin: auto;
  transform: translate(0, 50%);
}

 


html,
body { height: 100%;
}
.parent {
height: 200px;
background: #CCCCCC;
display: flex;
align-items: center;
justify-content: center;
}
.child {
background-color: #FFFF00;
width: 100px;
height: 100px;
}